In [1]:
import pandas as pd
import numpy as np

In [2]:
ds19 = pd.read_csv('survey data/survey_results_public_2019.csv')
ds20 = pd.read_csv('survey data/survey_results_public_2020.csv')
ds21 = pd.read_csv('survey data/survey_results_public_2021.csv')
ds22 = pd.read_csv('survey data/survey_results_public_2022.csv')
ds23 = pd.read_csv('survey data/survey_results_public_2023.csv')

In [3]:
ds19["year"]= 2019
ds20["year"]= 2020
ds21["year"]= 2021
ds22["year"]= 2022
ds23["year"]= 2023

ds19.rename(columns={'CurrencyDesc': 'currency'}, inplace=True)
ds20.rename(columns={'CurrencyDesc': 'currency'}, inplace=True)

tempar = [ds19,ds20,ds21,ds22,ds23]
for ds in tempar:
    ds.columns = ds.columns.str.lower()
    ds.columns = ds.columns.str.replace(' ', '_')
    ds.columns = ds.columns.str.replace('-', '_')

common_columns = ds19.columns.intersection(ds20.columns).intersection(ds21.columns).intersection(ds22.columns).intersection(ds23.columns)
print(common_columns)

Index(['mainbranch', 'employment', 'country', 'edlevel', 'orgsize', 'devtype',
       'yearscode', 'yearscodepro', 'currency', 'comptotal', 'sovisitfreq',
       'soaccount', 'sopartfreq', 'socomm', 'age', 'surveylength',
       'surveyease', 'year'],
      dtype='object')

In [4]:
merged_df = pd.concat([ds19, ds20, ds21, ds22, ds23], ignore_index=True)  
merged_df = merged_df[list(common_columns)]
print(merged_df.shape)
print(merged_df.columns)

(399235, 18)
Index(['mainbranch', 'employment', 'country', 'edlevel', 'orgsize', 'devtype',
       'yearscode', 'yearscodepro', 'currency', 'comptotal', 'sovisitfreq',
       'soaccount', 'sopartfreq', 'socomm', 'age', 'surveylength',
       'surveyease', 'year'],
      dtype='object')

In [5]:

merged_df=merged_df[merged_df["age"]!="Under 18 years old"]

print(merged_df.shape)
print(merged_df["age"].unique())

(385865, 18)
[14.0 19.0 28.0 22.0 30.0 42.0 24.0 23.0 nan 21.0 31.0 20.0 26.0 29.0 38.0
 47.0 34.0 32.0 25.0 17.0 35.0 27.0 44.0 43.0 62.0 37.0 45.0 18.0 33.0
 36.0 16.0 39.0 64.0 41.0 54.0 49.0 40.0 56.0 12.0 58.0 46.0 59.0 51.0
 48.0 57.0 52.0 50.0 23.9 55.0 15.0 67.0 13.0 1.0 53.0 69.0 65.0 17.5 63.0
 61.0 68.0 73.0 70.0 60.0 16.5 46.5 11.0 71.0 3.0 97.0 29.5 77.0 74.0 26.5
 26.3 24.5 78.0 72.0 66.0 76.0 10.0 75.0 99.0 83.0 79.0 36.8 14.1 13.5
 19.5 98.0 43.5 22.5 31.5 21.5 28.5 33.6 2.0 38.5 30.8 24.8 90.0 61.3 81.0
 4.0 17.3 19.9 80.0 85.0 88.0 23.5 16.9 20.9 91.0 98.9 57.9 9.0 94.0 95.0
 37.5 14.5 5.0 82.0 84.0 37.3 33.5 53.8 31.4 87.0 49.5 26.8 86.0 15.5 35.7
 32.5 23.8 96.0 14.7 34.5 20.5 279.0 27.5 32.8 89.0 19.8 7.0 39.5 23.4
 '25-34 years old' '18-24 years old' '35-44 years old' 'Prefer not to say'
 '45-54 years old' '65 years or older' '55-64 years old']

In [6]:
age_mapping = {
    '25-34 years old': 29,
    '18-24 years old': 21,
    '35-44 years old': 39,
    'Prefer not to say': -1,
    '45-54 years old': 39,
    '65 years or older': 65,
    '55-64 years old': 59
}
merged_df['age'] = merged_df['age'].replace(age_mapping)

merged_df.dropna(subset=['age'], inplace=True)
merged_df['age'] = merged_df['age'].astype(int)

print(merged_df.shape)
print(merged_df["age"].unique())

(353823, 18)
[ 14  19  28  22  30  42  24  23  21  31  20  26  29  38  47  34  32  25
  17  35  27  44  43  62  37  45  18  33  36  16  39  64  41  54  49  40
  56  12  58  46  59  51  48  57  52  50  55  15  67  13   1  53  69  65
  63  61  68  73  70  60  11  71   3  97  77  74  78  72  66  76  10  75
  99  83  79  98   2  90  81   4  80  85  88  91   9  94  95   5  82  84
  87  86  96 279  89   7  -1]

In [7]:
merged_df.dropna(subset=['devtype'], inplace=True)

merged_df = merged_df[merged_df["devtype"].str.lower().str.contains("data")]
print(merged_df.shape)
print(merged_df["devtype"].unique())

(55000, 18)
['Data or business analyst;Data scientist or machine learning specialist;Database administrator;Engineer, data'
 'Database administrator;Developer, back-end;Developer, front-end;Developer, full-stack;Developer, QA or test;DevOps specialist'
 'Data or business analyst;Data scientist or machine learning specialist;Engineer, data;Student'
 ...
 'Developer, front-end;Engineer, data;Engineer, site reliability;Developer, full-stack;Developer, back-end;Developer, QA or test;Developer, mobile;Engineering manager;Database administrator;Cloud infrastructure engineer;Data or business analyst;Designer;System administrator;Security professional'
 'Data scientist or machine learning specialist;Developer, front-end;Developer, full-stack;Developer, back-end;Developer, QA or test;Developer, mobile;Database administrator;Cloud infrastructure engineer;Data or business analyst;Designer;Blockchain'
 'Developer, front-end;Engineer, data;Engineer, site reliability;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;Developer, QA or test;Student;Developer, mobile;Academic researcher;DevOps specialist;Developer, embedded applications or devices;Developer, game or graphics;Cloud infrastructure engineer;Data or business analyst;Designer;Scientist;Product manager;System administrator']

In [8]:
print(merged_df["currency"].unique())

['Canadian dollar' 'New Zealand dollar' nan 'United States dollar'
 'European Euro' 'Czech koruna' 'Argentine peso' 'Australian dollar'
 'Pound sterling' 'Croatian kuna' 'South African rand' 'Bulgarian lev'
 'Indian rupee' 'Hong Kong dollar' 'Polish zloty' 'Pakistani rupee'
 'Russian ruble' 'Israeli new shekel' 'Ukrainian hryvnia' 'Swedish krona'
 'Brazilian real' 'Mauritian rupee' 'Danish krone' 'Iranian rial'
 'Chinese Yuan Renminbi' 'Nepalese rupee' 'Norwegian krone'
 'Singapore dollar' 'Turkish lira' 'Bangladeshi taka' 'Nigerian naira'
 'Burundi franc' 'Serbian dinar' 'Japanese yen' 'Mexican peso'
 'Colombian peso' 'Swiss franc' 'Hungarian forint' 'Malaysian ringgit'
 'Mongolian tugrik' 'Philippine peso' 'Kenyan shilling'
 'Indonesian rupiah' 'Belarusian ruble'
 'Bosnia and Herzegovina convertible mark' 'Syrian pound'
 'Moroccan dirham' 'Jordanian dinar' 'Trinidad and Tobago dollar'
 'Albanian lek' 'Chilean peso' 'Lebanese pound' 'Romanian leu'
 'Ghanaian cedi' 'Thai baht' 'Costa Rican colon' 'Honduran lempira'
 'Qatari riyal' 'Sri Lankan rupee' 'South Korean won' 'Armenian dram'
 'Tanzanian shilling' 'Guatemalan quetzal' 'Dominican peso'
 'West African CFA franc' 'Netherlands Antillean guilder' 'Peruvian sol'
 'Somali shilling' 'Cuban peso' 'Egyptian pound' 'Macedonian denar'
 'Ugandan shilling' 'United Arab Emirates dirham' 'Ethiopian birr'
 'Botswana pula' 'New Taiwan dollar' 'Tunisian dinar' 'Uruguayan peso'
 'Saudi Arabian riyal' 'Central African CFA franc' 'Kuwaiti dinar'
 'Bahraini dinar' 'Vietnamese dong' 'Georgian lari' 'Djiboutian franc'
 'Libyan dinar' 'Myanmar kyat' 'Sudanese pound' 'Iraqi dinar'
 'Icelandic krona' 'Kyrgyzstani som' 'Azerbaijan manat' 'Swazi lilangeni'
 'Moldovan leu' 'Venezuelan bolivar' 'Mauritanian ouguiya'
 'Guyanese dollar' 'Algerian dinar' 'Fijian dollar' 'Kazakhstani tenge'
 'Guinean franc' 'Jamaican dollar' 'Bermudian dollar' 'Zambian kwacha'
 'Paraguayan guarani' 'Afghan afghani' 'Bolivian boliviano'
 'Nicaraguan cordoba' 'Haitian gourde' 'Angolan kwanza' 'Yemeni rial'
 'Bhutanese ngultrum' 'Uzbekistani som' 'Mozambican metical'
 'Maldivian rufiyaa' 'East Caribbean dollar' 'Rwandan franc' 'Lao kip'
 'Brunei dollar' 'Seychellois rupee' 'Malawian kwacha' 'Omani rial'
 'Malagasy ariary' 'e\tCook Islands dollar' 'Cayman Islands dollar'
 'CFP franc' 'Gibraltar pound' 'Cambodian riel' 'e\tFaroese krona'
 'Barbadian dollar' 'GBP\tPound sterling' 'SEK\tSwedish krona'
 'EUR European Euro' 'RUB\tRussian ruble' 'ILS\tIsraeli new shekel'
 'USD\tUnited States dollar' 'AED United Arab Emirates dirham'
 'CAD\tCanadian dollar' 'BDT\tBangladeshi taka' 'PLN\tPolish zloty'
 'INR\tIndian rupee' 'CHF\tSwiss franc' 'GEL\tGeorgian lari'
 'BHD\tBahraini dinar' 'AUD\tAustralian dollar' 'CLP\tChilean peso'
 'IRR\tIranian rial' 'TZS\tTanzanian shilling' 'CZK\tCzech koruna'
 'NOK\tNorwegian krone' 'HUF\tHungarian forint' 'RON\tRomanian leu'
 'VND\tVietnamese dong' 'RSD\tSerbian dinar' 'ZAR\tSouth African rand'
 'KES\tKenyan shilling' 'TND\tTunisian dinar' 'IDR\tIndonesian rupiah'
 'MXN\tMexican peso' 'TRY\tTurkish lira' 'JOD\tJordanian dinar'
 'BRL\tBrazilian real' 'HRK\tCroatian kuna' 'DKK\tDanish krone'
 'COP\tColombian peso' 'PYG\tParaguayan guarani' 'TWD\tNew Taiwan dollar'
 'ALL\tAlbanian lek' 'EGP\tEgyptian pound' 'MAD\tMoroccan dirham'
 'PKR\tPakistani rupee' 'IQD\tIraqi dinar'
 'XAF\tCentral African CFA franc' 'AZN\tAzerbaijan manat'
 'MYR\tMalaysian ringgit' 'LKR\tSri Lankan rupee' 'NPR\tNepalese rupee'
 'NZD\tNew Zealand dollar' 'LBP\tLebanese pound' 'THB\tThai baht'
 'SAR\tSaudi Arabian riyal' 'CNY\tChinese Yuan Renminbi'
 'BGN\tBulgarian lev' 'UAH\tUkrainian hryvnia' 'DZD\tAlgerian dinar'
 'UYU\tUruguayan peso' 'BAM\tBosnia and Herzegovina convertible mark'
 'XCD\tEast Caribbean dollar' 'PEN\tPeruvian sol' 'ARS\tArgentine peso'
 'NGN\tNigerian naira' 'GHS\tGhanaian cedi' 'UGX\tUgandan shilling'
 'DOP\tDominican peso' 'CRC\tCosta Rican colon' 'GMD\tGambian dalasi'
 'JPY\tJapanese yen' 'PHP\tPhilippine peso' 'AMD\tArmenian dram'
 'KRW\tSouth Korean won' 'GTQ\tGuatemalan quetzal' 'HKD\tHong Kong dollar'
 'KZT\tKazakhstani tenge' 'MMK\tMyanmar kyat' 'KWD\tKuwaiti dinar'
 'SZL\tSwazi lilangeni' 'SGD\tSingapore dollar' 'SYP\tSyrian pound'
 'ZMW Zambian kwacha' 'MDL\tMoldovan leu' 'MUR\tMauritian rupee'
 'BYN\tBelarusian ruble' 'AFN\tAfghan afghani' 'MKD\tMacedonian denar'
 'MGA\tMalagasy ariary' 'UZS\tUzbekistani som' 'VES\tVenezuelan bolivar'
 'MNT\tMongolian tugrik' 'TJS\tTajikistani somoni' 'ETB\tEthiopian birr'
 'ISK\tIcelandic krona' 'BOB\tBolivian boliviano' 'OMR\tOmani rial'
 'HNL\tHonduran lempira' 'TTD\tTrinidad and Tobago dollar'
 'GYD\tGuyanese dollar' 'XOF\tWest African CFA franc' 'LSL\tLesotho loti'
 'QAR\tQatari riyal' 'MZN\tMozambican metical'
 'ANG Netherlands Antillean guilder' 'KHR\tCambodian riel'
 'NAD\tNamibian dollar' 'LRD\tLiberian dollar' 'RWF\tRwandan franc'
 'GIP\tGibraltar pound' 'MVR\tMaldivian rufiyaa' 'DJF\tDjiboutian franc'
 'LAK\tLao kip' 'AOA\tAngolan kwanza' 'MWK\tMalawian kwacha'
 'SDG\tSudanese pound' 'BBD\tBarbadian dollar' 'XPF\tCFP franc'
 'BTN\tBhutanese ngultrum' 'KYD\tCayman Islands dollar'
 'CVE\tCape Verdean escudo' 'LYD\tLibyan dinar' 'BSD\tBahamian dollar'
 'JMD\tJamaican dollar' 'TMT\tTurkmen manat'
 'XDR\tSDR (Special Drawing Right)' 'BWP\tBotswana pula'
 'BZD\tBelize dollar' 'BMD\tBermudian dollar' 'KGS\tKyrgyzstani som'
 'AWG\tAruban florin' 'GNF\tGuinean franc' 'CUP\tCuban peso'
 'YER\tYemeni rial' 'SOS\tSomali shilling' 'IMP\tManx pound'
 'BND\tBrunei dollar' 'SRD\tSurinamese dollar']

In [9]:

currency_values = {
    'Canadian dollar': 0.80,
    'CAD\tCanadian dollar': 0.80,
    'New Zealand dollar': 0.73,
    'NZD\tNew Zealand dollar': 0.73,
    'United States dollar': 1.0,
    'USD\tUnited States dollar': 1.0,
    'European Euro': 1.18,
    'EUREuropean Euro': 1.18,
    'Pound sterling': 1.37,
    'GBP\tPound sterling': 1.37,
    'Australian dollar': 0.76,
    'AUD\tAustralian dollar': 0.76,
    'Japanese yen': 0.0092,
    'JPY\tJapanese yen': 0.0092,
    'Swiss franc': 1.09,
    'CHF\tSwiss franc': 1.09,
    'Chinese Yuan Renminbi': 0.15,
    'CNY\tChinese Yuan Renminbi': 0.15
}
merged_df["currency"]
print(merged_df.shape)
print(merged_df['comptotal'].head())
merged_df['comptotal_usd'] = merged_df['comptotal'] * merged_df['currency'].map(currency_values)
print(merged_df['comptotal_usd'].head())
merged_df = merged_df.fillna(0)

(55000, 18)
5      40000.0
8     138000.0
11         NaN
12     90000.0
19      3000.0
Name: comptotal, dtype: float64
5      32000.0
8     100740.0
11         NaN
12     90000.0
19      3540.0
Name: comptotal_usd, dtype: float64

In [10]:
merged_df.drop(columns=["mainbranch","sopartfreq","surveyease","surveylength","socomm", "sovisitfreq","soaccount","devtype"], inplace=True)
print(merged_df.columns)

Index(['employment', 'country', 'edlevel', 'orgsize', 'yearscode',
       'yearscodepro', 'currency', 'comptotal', 'age', 'year',
       'comptotal_usd'],
      dtype='object')

In [11]:
merged_df["edlevel"].fillna("I never completed any formal education", inplace=True)
temp = pd.factorize(merged_df['edlevel'])
print(temp[1])
merged_df['edvalue'] = temp[0]
print(merged_df['edvalue'].unique())


temp=pd.factorize(merged_df['employment'])
merged_df['employment_value'] = temp[0]
print(temp[1])
print(merged_df['employment_value'].unique())

Index([                                          'Bachelor’s degree (BA, BS, B.Eng., etc.)',
                                   'Some college/university study without earning a degree',
                                              'Master’s degree (MA, MS, M.Eng., MBA, etc.)',
       'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)',
                                                                         'Associate degree',
                                                'Other doctoral degree (Ph.D, Ed.D., etc.)',
                                                       'Professional degree (JD, MD, etc.)',
                                                                                          0,
                                                   'I never completed any formal education',
                                                                'Primary/elementary school',
                                          'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)',
                                             'Bachelor’s degree (B.A., B.S., B.Eng., etc.)',
                                               'Other doctoral degree (Ph.D., Ed.D., etc.)',
                                                      'Associate degree (A.A., A.S., etc.)',
                                                                           'Something else',
                                           'Professional degree (JD, MD, Ph.D, Ed.D, etc.)'],
      dtype='object')
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
Index(['Employed full-time', 'Employed part-time',
       'Independent contractor, freelancer, or self-employed',
       'Not employed, but looking for work', 'Employed, full-time',
       'Employed, part-time', 'Employed, full-time;Student, full-time',
       'Student, part-time;Independent contractor, freelancer, or self-employed',
       'Employed, full-time;Independent contractor, freelancer, or self-employed',
       'Student, full-time;Independent contractor, freelancer, or self-employed',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
       'Student, full-time;Employed, part-time',
       'Student, part-time;Employed, part-time',
       'Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Employed, full-time;Student, part-time',
       'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed',
       'Student, full-time;Not employed, but looking for work',
       'Employed, full-time;Employed, part-time',
       'Employed, full-time;Student, part-time;Independent contractor, freelancer, or self-employed',
       'Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Employed, full-time;Student, full-time;Student, part-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired',
       'Independent contractor, freelancer, or self-employed;Retired',
       'Student, part-time;Not employed, but looking for work;Employed, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Student, part-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
       'Student, part-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Student, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
       'Employed, full-time;Student, full-time;Student, part-time;Independent contractor, freelancer, or self-employed',
       'Employed, full-time;Student, full-time;Employed, part-time',
       'Employed, part-time;Retired',
       'Employed, full-time;Student, full-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Retired',
       'Student, full-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Student, full-time;Student, part-time;Independent contractor, freelancer, or self-employed',
       'Employed, full-time;Student, full-time;Student, part-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time;Not employed, and not looking for work;Retired',
       'Employed, full-time;Not employed, but looking for work;Not employed, and not looking for work',
       'Not employed, but looking for work;Retired',
       'Employed, full-time;Student, full-time;Student, part-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time;Not employed, and not looking for work',
       'Student, part-time;Not employed, but looking for work',
       'Employed, full-time;Student, part-time;Employed, part-time',
       'Student, part-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Employed, full-time;Not employed, but looking for work;Employed, part-time',
       'Student, full-time;Student, part-time;Not employed, but looking for work',
       'Student, full-time;Student, part-time;Employed, part-time',
       'Employed, full-time;Student, full-time;Student, part-time;Employed, part-time',
       'Student, full-time;Not employed, but looking for work;Employed, part-time',
       'Student, part-time;Independent contractor, freelancer, or self-employed;Retired',
       'Employed, full-time;Not employed, but looking for work',
       'Independent contractor, freelancer, or self-employed;Employed, part-time;Retired',
       'Employed, full-time;Student, full-time;Student, part-time;Not employed, but looking for work;Employed, part-time;Not employed, and not looking for work',
       'Not employed, but looking for work;Employed, part-time',
       'Employed, full-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed',
       'Not employed, but looking for work;Not employed, and not looking for work',
       'Employed, full-time;Student, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Not employed, and not looking for work',
       'Student, full-time;Student, part-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Employed, part-time;Not employed, and not looking for work;Retired',
       'Student, part-time;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Employed, full-time;Student, full-time;Student, part-time;Independent contractor, freelancer, or self-employed;Retired',
       'Student, full-time;Student, part-time;Not employed, but looking for work;Independent contractor, freelancer, or self-employed;Not employed, and not looking for work',
       'Student, full-time;Independent contractor, freelancer, or self-employed;Retired',
       'Employed, full-time;Student, full-time;Student, part-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Employed, full-time;Student, full-time;Student, part-time;Not employed, but looking for work;Employed, part-time',
       'Employed, full-time;Student, part-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, and not looking for work;Retired',
       'Student, part-time;Not employed, but looking for work;Retired',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired',
       'Student, part-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Retired',
       'Independent contractor, freelancer, or self-employed;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Student, full-time',
       'Independent contractor, freelancer, or self-employed;Student, full-time;Employed, part-time',
       'Employed, part-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time',
       'Not employed, but looking for work;Student, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Student, full-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time;Student, part-time',
       'Not employed, but looking for work;Student, full-time',
       'Independent contractor, freelancer, or self-employed;Employed, part-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, part-time;Retired',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, part-time',
       'Employed, full-time;Retired',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Student, full-time;Employed, part-time;Student, part-time;Retired;Not employed, and not looking for work',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Retired',
       'Employed, full-time;Student, part-time;Retired',
       'Independent contractor, freelancer, or self-employed;Student, part-time;Not employed, and not looking for work',
       'Independent contractor, freelancer, or self-employed;Student, full-time;Student, part-time',
       'Employed, full-time;Employed, part-time;Student, part-time',
       'Independent contractor, freelancer, or self-employed;Not employed, but looking for work;Employed, part-time',
       'Not employed, but looking for work;Student, full-time;Not employed, and not looking for work'],
      dtype='object')
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90]

In [12]:
merged_df["yearscode"].replace({np.nan: 1, "Less than 1 year": 1, "More than 50 years": 51}, inplace=True)
merged_df["yearscode"] = merged_df["yearscode"].astype(int)
print(merged_df["yearscode"].unique())
print(merged_df.shape)

[13 12  5 17  8 35  6 30  9 19  2 15  4 25  1  7 16  3 11 14 10 41 20 26
 22 21 32 27 23 40 24 18 38 28 34 36 37 29 39 48 45 31 33 44 42 49 51  0
 50 47 43 46]
(55000, 13)

In [13]:
merged_df["orgsize"].replace(np.nan,"test.", inplace=True)
print(merged_df["orgsize"].unique())
merged_df["orgsize"] = merged_df["orgsize"].str.replace('test',"1")
merged_df["orgsize"] = merged_df["orgsize"].str.replace(',','')

merged_df["lower_bound_orgsize"] = merged_df["orgsize"].str.extract(r'(\d+)')#saraha heyde men chatgpt
merged_df["upper_bound_orgsize"] = merged_df["orgsize"].str.extract(r'\d+\D+(\d+)')
merged_df["upper_bound_orgsize"].fillna(10001, inplace=True)


merged_df.reset_index(drop=True, inplace=True)

merged_df = merged_df.rename_axis('id')

print(merged_df.head())

[0 '10 to 19 employees' '1,000 to 4,999 employees'
 '10,000 or more employees' '100 to 499 employees'
 'Just me - I am a freelancer, sole proprietor, etc.' '20 to 99 employees'
 '2-9 employees' '500 to 999 employees' '5,000 to 9,999 employees'
 '2 to 9 employees' 'I don’t know']
            employment        country  \
id
0   Employed full-time         Canada
1   Employed full-time    New Zealand
2   Employed part-time         Canada
3   Employed full-time  United States
4   Employed full-time      Lithuania

                                              edlevel                 orgsize  \
id
0            Bachelor’s degree (BA, BS, B.Eng., etc.)                     NaN
1   Some college/university study without earning ...      10 to 19 employees
2   Some college/university study without earning ...                     NaN
3         Master’s degree (MA, MS, M.Eng., MBA, etc.)      10 to 19 employees
4         Master’s degree (MA, MS, M.Eng., MBA, etc.)  1000 to 4999 employees

    yearscode yearscodepro              currency  comptotal  age  year  \
id
0          13            3       Canadian dollar    40000.0   28  2019
1          12            4    New Zealand dollar   138000.0   23  2019
2           5            0                     0        0.0   21  2019
3          17            8  United States dollar    90000.0   28  2019
4           8            4         European Euro     3000.0   38  2019

    comptotal_usd  edvalue  employment_value lower_bound_orgsize  \
id
0         32000.0        0                 0                 NaN
1        100740.0        1                 0                  10
2             0.0        1                 1                 NaN
3         90000.0        2                 0                  10
4          3540.0        2                 0                1000

   upper_bound_orgsize
id
0                10001
1                   19
2                10001
3                   19
4                 4999

In [15]:
print(merged_df.shape)
merged_df.to_csv('modified_survey_data3.csv', index=False)

(55000, 15)